---
layout: archive
title: "Students and Collaborators"
permalink: /collabs/
author_profile: true
---

<h2 class="archive__item-title" itemprop="headline">
  Current Students
</h2>
{% for post in site.collabs reversed %}
  {% if post.student and unless post.graduated %} {% include archive-single-student.html %} {% endif %}
{% endfor %}

<h2 class="archive__item-title" itemprop="headline">
  Graduated Students
</h2>
{% for post in site.collabs reversed %}
  {% if post.student and post.graduated %} {% include archive-single-student.html %} {% endif %}
{% endfor %}
