---
layout: archive
title: "My Group"
permalink: /collabs/
author_profile: true
---

Below is a list of current and former students.  If you're interested in joining my group or working with me, please see <a href="/join/">here</a> for more information.

<h2 class="archive__item-title" itemprop="headline">
  Current Students
</h2>
{% for post in site.collabs reversed %}
  {% if post.student and post.graduated == nil %} {% include archive-single-student.html %} {% endif %}
{% endfor %}

<h2 class="archive__item-title" itemprop="headline">
  Graduated Students
</h2>
{% for post in site.collabs reversed %}
  {% if post.student and post.graduated != nil %} {% include archive-single-student.html %} {% endif %}
{% endfor %}
